.navbar-lewagon {
  justify-content: space-between;
  background: white;
  padding: 0.5rem;
  // .logo {
  //   width: 100vw;
  //   height: 100vh;
  // }

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
